In [18]:
import pandas as pd 
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import gc
import tqdm
gc.enable()

In [19]:
path = 'tennis_atp/'
matches_path = 'atp_matches_'
fmatches_path = 'atp_matches_futures_'
qmatches_path = 'atp_matches_qual_chall_'
players_path = 'atp_players'
rankings_path = 'atp_rankings_'

In [20]:
matches = []
fmatches = []
qmatches = []
rankings = []
for i in range(2000,2020,1):
    matches.append(pd.read_csv(f"{path}{matches_path}{i}.csv"))

    fmatches.append(pd.read_csv(f"{path}{fmatches_path}{i}.csv"))
    
    qmatches.append(pd.read_csv(f"{path}{qmatches_path}{i}.csv"))
    
#     rankings.append(pd.read_csv(f"{path}{rankings_path}{i}.csv"))
    
qmatches = pd.concat(qmatches)
matches = pd.concat(matches)
fmatches = pd.concat(fmatches)
# rankings = pd.concat(rankings)
players = pd.read_csv(f'{path}{players_path}.csv', header=None)

In [21]:
# players.iloc[3162]

In [ ]:
# players.set_index(0, inplace=True)

In [ ]:
players['name'] = players[1]+' '+ players[2]

In [ ]:
players_dict = players['name'].to_dict()

In [ ]:
gc.collect()

In [ ]:
# pd.DataFrame.copy?

In [22]:
matches.rename(columns=lambda x: x.replace('winner','left'), inplace=True)
matches.rename(columns=lambda x: x.replace('loser','right'), inplace=True)
matches.rename(columns=lambda x: x.replace('w_','left_'), inplace=True)
matches.rename(columns=lambda x: x.replace('l_','right_'), inplace=True)

In [23]:
reverse_matches = matches.copy(deep=True)
gc.collect()

3634

In [24]:
reverse_matches['target'] = 0

In [25]:
matches['target'] = 1

In [8]:
matches.head()

  tourney_id tourney_name surface  draleft_size tourney_level  tourney_date  match_num  left_id left_seed left_entry            left_name left_hand  left_ht left_ioc   left_age  right_id right_seed right_entry           right_name right_hand  right_ht right_ioc  right_age           score  best_of round  minutes  left_ace  left_df  left_svpt  left_1stIn  left_1stWon  left_2ndWon  left_SvGms  left_bpSaved  left_bpFaced  right_ace  right_df  right_svpt  right_1stIn  right_1stWon  right_2ndWon  right_SvGms  right_bpSaved  right_bpFaced  left_rank  left_rank_points  right_rank  right_rank_points  target
0   2000-301     Auckland    Hard            32             A      20000110          1   103163         1        NaN           Tommy Haas         R    188.0      GER  21.771389    101543        NaN         NaN         Jeff Tarango          L     180.0       USA  31.137577     7-5 4-6 7-5        3   R32    108.0      18.0      4.0       96.0        49.0         39.0         28.0        17.0           3.0           5.0        7.0       8.0       106.0         55.0          39.0          29.0         17.0            4.0            7.0       11.0            1612.0        63.0              595.0       1
1   2000-301     Auckland    Hard            32             A      20000110          2   102607       NaN          Q        Juan Balcells         R    190.0      ESP  24.558522    102644        NaN         NaN     Franco Squillari          L     183.0       ARG  24.386037         7-5 7-5        3   R32     85.0       5.0      3.0       76.0        52.0         39.0         13.0        12.0           5.0           6.0        5.0      10.0        74.0         32.0          25.0          18.0         12.0            3.0            6.0      211.0             157.0        49.0              723.0       1
2   2000-301     Auckland    Hard            32             A      20000110          3   103252       NaN        NaN       Alberto Martin         R    175.0      ESP  21.390828    102238        NaN         NaN  Alberto Berasategui          R     173.0       ESP  26.535250         6-3 6-1        3   R32     56.0       0.0      0.0       55.0        35.0         25.0         12.0         8.0           1.0           1.0        0.0       6.0        56.0         33.0          20.0           7.0          8.0            7.0           11.0       48.0             726.0        59.0              649.0       1
3   2000-301     Auckland    Hard            32             A      20000110          4   103507         7        NaN  Juan Carlos Ferrero         R    183.0      ESP  19.909651    103819        NaN         NaN        Roger Federer          R     185.0       SUI  18.422998         6-4 6-4        3   R32     68.0       5.0      1.0       53.0        28.0         26.0         15.0        10.0           0.0           0.0       11.0       2.0        70.0         43.0          29.0          14.0         10.0            6.0            8.0       45.0             768.0        61.0              616.0       1
4   2000-301     Auckland    Hard            32             A      20000110          5   102103       NaN          Q         Michael Sell         R    180.0      USA  27.381246    102765          4         NaN       Nicolas Escude          R     185.0       FRA  23.770021  0-6 7-6(7) 6-1        3   R32    115.0       1.0      2.0       98.0        66.0         39.0         14.0        13.0           6.0          11.0        8.0       8.0        92.0         46.0          34.0          18.0         12.0            5.0            9.0      167.0             219.0        34.0              873.0       1

In [9]:
reverse_matches.head()

  tourney_id tourney_name surface  draleft_size tourney_level  tourney_date  match_num  left_id left_seed left_entry            left_name left_hand  left_ht left_ioc   left_age  right_id right_seed right_entry           right_name right_hand  right_ht right_ioc  right_age           score  best_of round  minutes  left_ace  left_df  left_svpt  left_1stIn  left_1stWon  left_2ndWon  left_SvGms  left_bpSaved  left_bpFaced  right_ace  right_df  right_svpt  right_1stIn  right_1stWon  right_2ndWon  right_SvGms  right_bpSaved  right_bpFaced  left_rank  left_rank_points  right_rank  right_rank_points  target
0   2000-301     Auckland    Hard            32             A      20000110          1   103163         1        NaN           Tommy Haas         R    188.0      GER  21.771389    101543        NaN         NaN         Jeff Tarango          L     180.0       USA  31.137577     7-5 4-6 7-5        3   R32    108.0      18.0      4.0       96.0        49.0         39.0         28.0        17.0           3.0           5.0        7.0       8.0       106.0         55.0          39.0          29.0         17.0            4.0            7.0       11.0            1612.0        63.0              595.0       0
1   2000-301     Auckland    Hard            32             A      20000110          2   102607       NaN          Q        Juan Balcells         R    190.0      ESP  24.558522    102644        NaN         NaN     Franco Squillari          L     183.0       ARG  24.386037         7-5 7-5        3   R32     85.0       5.0      3.0       76.0        52.0         39.0         13.0        12.0           5.0           6.0        5.0      10.0        74.0         32.0          25.0          18.0         12.0            3.0            6.0      211.0             157.0        49.0              723.0       0
2   2000-301     Auckland    Hard            32             A      20000110          3   103252       NaN        NaN       Alberto Martin         R    175.0      ESP  21.390828    102238        NaN         NaN  Alberto Berasategui          R     173.0       ESP  26.535250         6-3 6-1        3   R32     56.0       0.0      0.0       55.0        35.0         25.0         12.0         8.0           1.0           1.0        0.0       6.0        56.0         33.0          20.0           7.0          8.0            7.0           11.0       48.0             726.0        59.0              649.0       0
3   2000-301     Auckland    Hard            32             A      20000110          4   103507         7        NaN  Juan Carlos Ferrero         R    183.0      ESP  19.909651    103819        NaN         NaN        Roger Federer          R     185.0       SUI  18.422998         6-4 6-4        3   R32     68.0       5.0      1.0       53.0        28.0         26.0         15.0        10.0           0.0           0.0       11.0       2.0        70.0         43.0          29.0          14.0         10.0            6.0            8.0       45.0             768.0        61.0              616.0       0
4   2000-301     Auckland    Hard            32             A      20000110          5   102103       NaN          Q         Michael Sell         R    180.0      USA  27.381246    102765          4         NaN       Nicolas Escude          R     185.0       FRA  23.770021  0-6 7-6(7) 6-1        3   R32    115.0       1.0      2.0       98.0        66.0         39.0         14.0        13.0           6.0          11.0        8.0       8.0        92.0         46.0          34.0          18.0         12.0            5.0            9.0      167.0             219.0        34.0              873.0       0

In [26]:
columns_map = ['tourney_id',
               'tourney_name',
               'surface',
               'draleft_size',
               'tourney_level',
               'tourney_date',
               'match_num',
               'right_id',
               'right_seed',
               'right_entry',
               'right_name',
               'right_hand',
               'right_ht',
               'right_ioc',
               'right_age',
               'left_id',
               'left_seed',
               'left_entry',
               'left_name', 
               'left_hand', 
               'left_ht', 
               'left_ioc',
               'left_age',
               'score',
               'best_of',
               'round',
               'minutes',
               'right_ace',
               'right_df', 
               'right_svpt', 
               'right_1stIn',
               'right_1stWon', 
               'right_2ndWon',
               'right_SvGms', 
               'right_bpSaved',
               'right_bpFaced',
               'left_ace', 
               'left_df', 
               'left_svpt', 
               'left_1stIn', 
               'left_1stWon', 
               'left_2ndWon', 
               'left_SvGms', 
               'left_bpSaved',
               'left_bpFaced',
               'right_rank', 
               'right_rank_points',
               'left_rank',
               'left_rank_points',
               'target'
              ]

In [27]:
reverse_matches = reverse_matches[columns_map].values
gc.collect()

88

In [30]:
columns = matches.columns.tolist()

db_matches = matches.append(pd.DataFrame(reverse_matches, columns=columns), ignore_index=True)
db_matches.head().append(db_matches.tail())

                             tourney_id                  tourney_name surface draleft_size tourney_level tourney_date match_num left_id left_seed left_entry            left_name left_hand left_ht left_ioc left_age right_id right_seed right_entry           right_name right_hand right_ht right_ioc right_age              score best_of round minutes left_ace left_df left_svpt left_1stIn left_1stWon left_2ndWon left_SvGms left_bpSaved left_bpFaced right_ace right_df right_svpt right_1stIn right_1stWon right_2ndWon right_SvGms right_bpSaved right_bpFaced left_rank left_rank_points right_rank right_rank_points target
0                              2000-301                      Auckland    Hard           32             A     20000110         1  103163         1        NaN           Tommy Haas         R     188      GER  21.7714   101543        NaN         NaN         Jeff Tarango          L      180       USA   31.1376        7-5 4-6 7-5       3   R32     108       18       4        96         49          39          28         17            3            5         7        8        106          55           39           29          17             4             7        11             1612         63               595      1
1                              2000-301                      Auckland    Hard           32             A     20000110         2  102607       NaN          Q        Juan Balcells         R     190      ESP  24.5585   102644        NaN         NaN     Franco Squillari          L      183       ARG    24.386            7-5 7-5       3   R32      85        5       3        76         52          39          13         12            5            6         5       10         74          32           25           18          12             3             6       211              157         49               723      1
2                              2000-301                      Auckland    Hard           32             A     20000110         3  103252       NaN        NaN       Alberto Martin         R     175      ESP  21.3908   102238        NaN         NaN  Alberto Berasategui          R      173       ESP   26.5352            6-3 6-1       3   R32      56        0       0        55         35          25          12          8            1            1         0        6         56          33           20            7           8             7            11        48              726         59               649      1
3                              2000-301                      Auckland    Hard           32             A     20000110         4  103507         7        NaN  Juan Carlos Ferrero         R     183      ESP  19.9097   103819        NaN         NaN        Roger Federer          R      185       SUI    18.423            6-4 6-4       3   R32      68        5       1        53         28          26          15         10            0            0        11        2         70          43           29           14          10             6             8        45              768         61               616      1
4                              2000-301                      Auckland    Hard           32             A     20000110         5  102103       NaN          Q         Michael Sell         R     180      USA  27.3812   102765          4         NaN       Nicolas Escude          R      185       FRA     23.77     0-6 7-6(7) 6-1       3   R32     115        1       2        98         66          39          14         13            6           11         8        8         92          46           34           18          12             5             9       167              219         34               873      1
123343  2019-M-DC-2019-QLS-M-SUI-RUS-01  Davis Cup QLS R1: SUI vs RUS    Hard            4             D     20190201         2  144817       NaN        NaN  Marc Andrea Huesler         U     NaN      SUI  22.5955   111575        NaN         NaN      Karen Khachanov          R      NaN       RUS   22.6886            6-3 7-5       3    RR      76        7       2        78         47          32          14         10            5            8         7        1         50          38           31           10          11             0             0       362               56         11              2880      0
123344  2019-M-DC-2019-QLS-M-SUI-RUS-01  Davis Cup QLS R1: SUI vs RUS    Hard            4             D     20190201         4  105967       NaN        NaN      Henri Laaksonen         R     NaN      SUI  26.8282   111575        NaN         NaN      Karen Khachanov          R      NaN       RUS   22.6886  6-7(2) 7-6(6) 6-4       3    RR     161       13       5       145         94          65          27         17           15           17        13        3        112          75           54           24          17             3             4       142              389         11              2880      0
123345  2019-M-DC-2019-QLS-M-SWE-COL-01  Davis Cup QLS R1: SWE vs COL    Clay            4             D     20190201         1  111200       NaN        NaN           Elias Ymer         R     NaN      SWE  22.8008   105053        NaN         NaN     Santiago Giraldo          R      188       COL   31.1704            6-2 6-4       3    RR      72        3       3        49         33          20           7          9            1            5         5        5         62          40           31            9           9             2             3       116              485        251               190      0
123346  2019-M-DC-2019-QLS-M-SWE-COL-01  Davis Cup QLS R1: SWE vs COL    Clay            4             D     20190201         2  144707       NaN        NaN          Mikael Ymer         R     NaN      SWE   20.386   123755        NaN         NaN   Daniel Elahi Galan          U      NaN       COL   22.6119            6-1 6-2       3    RR      74        1       4        49         31          14           9          7            2            6         7        0         53          31           26           10           8             2             2       194              267        228               224      0
123347  2019-M-DC-2019-QLS-M-SWE-COL-01  Davis Cup QLS R1: SWE vs COL    Clay            4             D     20190201         4  111200       NaN        NaN           Elias Ymer         R     NaN      SWE  22.8008   105292        NaN         NaN   Alejandro Gonzalez          R      NaN       COL   29.9713            6-3 6-3       3    RR      56        1       6        53         29          17           8          9            4            9         1        3         55          34           22           14           9             2             4       116              485        337                72      0

In [15]:
# match_list = db_matches[['tourney_id','tourney_name']]
# match_list.to_csv('info.csv')

In [20]:
# db_matches['index']
len(db_matches)

123348

In [31]:
db_matches.reset_index(drop=True,inplace=True)

In [32]:
db_matches.reset_index(inplace=True)

In [ ]:
matches.reset_index(inplace=True)

In [ ]:
db_matches = matches

In [ ]:
# del db_matches['index']

In [33]:
db_matches['tourney_date'] = pd.to_datetime(db_matches['tourney_date'], format='%Y%m%d')

In [16]:
len(db_matches)

123348

In [25]:
from tqdm.autonotebook import tqdm
gc.collect()

162

In [38]:
dfs = []
for match_id in db_matches['index'].tolist():
    target = db_matches.loc[db_matches['index'] == match_id, 'target'].values[0]
    date = db_matches.loc[db_matches['index'] == match_id, 'tourney_date'].values[0]
    tourney_name = db_matches.loc[db_matches['index'] == match_id, 'tourney_name'].values[0]
    
    lname = db_matches.loc[db_matches['index'] == match_id, 'left_name'].values[0]
    rname = db_matches.loc[db_matches['index'] == match_id, 'right_name'].values[0]
    
    match_date = db_matches.loc[db_matches['index'] == match_id, 'tourney_date'].values[0]
    match_num =  db_matches.loc[db_matches['index'] == match_id, 'match_num'].values[0]

    prev_matches = db_matches.loc[(db_matches['tourney_date'] < match_date) | ((db_matches['tourney_date'] == match_date) & (db_matches['match_num'] < match_num))]

    lprev_matches = prev_matches.loc[prev_matches['left_name'] == lname]
    rprev_matches = prev_matches.loc[prev_matches['right_name'] == rname]
    df_model = pd.concat([pd.DataFrame(lprev_matches.mean().loc[left_ids]).T, pd.DataFrame(rprev_matches.mean().loc[right_ids]).T], axis=1)
    df_model['left_name'] = lname
    df_model['right_name'] = rname
    df_model['target'] = target
    df_model['tourney_date'] = date
    df_model['tourney_name'] = tourney_name
    
    dfs.append(df_model)
    if match_id % 1000 == 0:
        gc.collect()
        df_model = pd.concat(dfs, ignore_index=True)
        dfs=[]
        df_model.to_csv('df_model.csv', mode='a')

In [39]:
# std version
dfs = []
for match_id in db_matches['index'].tolist():
    target = db_matches.loc[db_matches['index'] == match_id, 'target'].values[0]
    
    lname = db_matches.loc[db_matches['index'] == match_id, 'left_name'].values[0]
    rname = db_matches.loc[db_matches['index'] == match_id, 'right_name'].values[0]
    
    date = db_matches.loc[db_matches['index'] == match_id, 'tourney_date'].values[0]
    tourney_name = db_matches.loc[db_matches['index'] == match_id, 'tourney_name'].values[0]
    
    match_date = db_matches.loc[db_matches['index'] == match_id, 'tourney_date'].values[0]
    match_num =  db_matches.loc[db_matches['index'] == match_id, 'match_num'].values[0]

    prev_matches = db_matches.loc[(db_matches['tourney_date'] < match_date) | ((db_matches['tourney_date'] == match_date) & (db_matches['match_num'] < match_num))]

    lprev_matches = prev_matches.loc[prev_matches['left_name'] == lname]
    rprev_matches = prev_matches.loc[prev_matches['right_name'] == rname]
    df_model = pd.concat([pd.DataFrame(lprev_matches.mean().loc[left_ids]).T, pd.DataFrame(rprev_matches.mean().loc[right_ids]).T], axis=1)
    df_model['left_name'] = lname
    df_model['right_name'] = rname
    df_model['target'] = target
    df_model['tourney_date'] = date
    df_model['tourney_name'] = tourney_name
    
    df_model[std_right_ids] = pd.DataFrame(rprev_matches.std().loc[right_ids]).T
    df_model[std_left_ids] = pd.DataFrame(lprev_matches.std().loc[left_ids]).T
    dfs.append(df_model)
    if match_id % 1000 == 0:
        gc.collect()
        df_model = pd.concat(dfs, ignore_index=True)
        dfs=[]
        df_model.to_csv('df_std_model.csv', mode='a')

In [ ]:
pd.DataFrame(lprev_matches.std().loc[left_ids]).T

In [ ]:
pd.concat(dfs, ignore_index=True)

In [35]:
right_ids = [
    'right_ht',
 'right_age',
 'right_ace',
 'right_df',
 'right_svpt',
 'right_1stIn',
 'right_1stWon',
 'right_2ndWon',
 'right_SvGms',
 'right_bpSaved',
 'right_bpFaced',
 'right_rank',
 'right_rank_points'
]

left_ids =  [
 'left_ht',
 'left_age',
 'left_ace',
 'left_df',
 'left_svpt',
 'left_1stIn',
 'left_1stWon',
 'left_2ndWon',
 'left_SvGms',
 'left_bpSaved',
 'left_bpFaced',
 'left_rank',
 'left_rank_points'
]

In [36]:
std_right_ids= []
for x in right_ids:
    q = x.replace('right_', 'std_right_')
    std_right_ids.append(q)

In [37]:
std_left_ids= []
for x in right_ids:
    q = x.replace('left_', 'std_left_')
    std_left_ids.append(q)

In [ ]:
target = db_matches.loc[db_matches['index'] == match_id, 'target'].values[0]

df_model = pd.concat([pd.DataFrame(lprev_matches.mean().loc[left_ids]).T, pd.DataFrame(rprev_matches.mean().loc[right_ids]).T], axis=1)
df_model['left_name'] = lname
df_model['right_name'] = rname
df_model['target'] = target

df_model

In [ ]:
just_match = db_matches[just_match_cols]
just_match[just_match['right_id'] == 104745.0].sort_values(by='tourney_date', ascending=False).head(20)

In [ ]:
# db_matches.groupby(['right_name','left_name'])[['right_id','right_ace',
#                'right_df', 
#                'right_svpt', 
#                'right_1stIn',
#                'right_1stWon', 
#                'right_2ndWon',
#                'right_SvGms', 
#                'right_bpSaved',
#                'right_bpFaced',
#                'left_id',
#                'left_ace', 
#                'left_df', 
#                'left_svpt', 
#                'left_1stIn', 
#                'left_1stWon', 
#                'left_2ndWon', 
#                'left_SvGms', 
#                'left_bpSaved',
#                'left_bpFaced']].expanding(min_periods=1).mean().loc['Rafael Nadal']#.sort_values(by=index, ascending=False)